.form{
    max-width:  400px;
    margin: 0 auto;
    text-align: center; 
  }
  
  .form label {
     text-align: left;
     display: block;
  }
  
  
  .form h1{
      font-size: 30px;
      color: rgb(255, 255, 255);
      margin-bottom:  30px;
  }
  
  .form input, .form textarea , .form select {
      width: 100%;
      padding: 6px 10px;
      margin: 10px 0;
      box-sizing: border-box;
      display: block;
  }
  